*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
body{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
    position: fixed;
    font-family: sans-serif;
}

@media(max-width:760px){
    body{
        grid-template-columns: 1fr;
    }
    #navbar{
        height: 200px;
    }
    #navbar ul .nav-link{
        padding: 10px;
    }
    
}

#navbar{
    overflow: auto;
    display: flex;
    flex-direction: column;
}
#navbar header{
    padding: 20px 10px;
    font-size: 25px;
}

#navbar ul{
    display: grid;
    overflow: auto;
}
@media(min-width:761px) {
    #navbar ul .nav-link{
        padding: 25px;
    }
}
#navbar ul .nav-link{
    
    border: 0.01px solid gray;
    cursor: pointer;
    color: rgb(105, 105, 105);
    text-decoration: none;
    font-size: 18px;
}
main{
    border: 1px solid gray;
    padding: 25px;
    overflow: auto;
    
}

main header{
    font-size: 35px;
    margin: 15px auto;
}
main section p{
    margin: 10px 15px;
    font-size: 18px;
    color: rgb(105, 105, 105);
}
main section li{
    margin: 10px 60px;
    font-size: 18px;
    color: rgb(105, 105, 105);
}

pre{
    text-wrap: wrap;
    background-color: rgb(221, 221, 221);
    border-radius: 8px;
    font-size: 16px;
    margin: 0;
    padding: 0;
}